@import "../../variables";

.register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $gradient-bar;
    width: 80%;
    padding: 2rem;
    margin: 2rem auto;
    color: $color-text-black;
    border-radius: 10px;
    flex-wrap: wrap;
    
    .small{
        font-size: 0.8rem;
    }
    .big{
        font-weight: bold;
        font-size: 1.4rem;
    }

    .btn{
        width: 10rem;
        height: 3rem;
        border: none;
        background: $color-text-black;
        border-radius: 40px;
        font-size: 1rem;
        color: $color-text-white;
    }
}

@media screen and (min-width: 64rem) {
    .register{
        margin: 5rem auto;
    }
}