$background-primary: #040C18;
$gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
$gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
$color-bg-toggle: #08162b;
$color-footer: #031B34;
$color-blog: #042c54;
$color-text: #81AFDD;
$color-subtext: #FF8A71;
$color-text-white: #ffffff;
$bg-button: #FF4820;
$bg-input: #052D56;
$color-text-input: #3D6184;